---
const { item } = Astro.props;
---
<div class="project-item-grid">
    <div class="project-item-right">
        <h5>{item.title}</h5>
        <div class="project-item-description">
            <p>{item.description}</p>
        </div>
        <div class="project-item-technologies">
            {item.techs}
        </div>
        <div class="external">
            <a href={item.link}>
                <img src="assets/external_link_100.svg" />
            </a>
            <a href={item.github}>
                <img src="assets/github_100.png" />
            </a>
        </div>
    </div>
    <div class="project-item-image">
        <img src={item.image}>
    </div>
</div>

<style lang="scss">
.project-item-grid {
    background: rgb(73, 79, 97);
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    margin-bottom: 100px;
    gap: 10px;
}

.project-item-right {
    position: relative;
    
    grid-column: 1 / 8;
    grid-area: 1 / 6 / -1 / -1;
    text-align: right;
    
    z-index: 1;
    -webkit-box-align: center;
    align-items: center;
}

.project-item-image {
    position: relative;
    grid-column: 7 / -1;
    grid-area: 1 / 1 / -1 / 7;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 3px;
}

h5 {
    font-size: 28px;
    margin: 0px 0px 20px;
    color: rgb(85, 124, 241);
}

.project-item-description {
    background-color: rgb(10, 5, 77);
    color: rgb(139, 165, 243);
    font-size: 18px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    // z-index: 2;
}

.project-item-technologies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: none;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", monospace;
    font-size: 13px;
    color: rgb(216, 250, 62);
    margin-right: 200px;
    margin-bottom: 100px;
    white-space: nowrap;
    text-align: right;
}

.external {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: rgb(204, 214, 246);
    // z-index: 1;
}
</style>